---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GameClient from '../components/GameClient.jsx';
import { pageContent } from '../data/bundledData.js';

const {
    hero_section
} = pageContent;
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{hero_section.title}</title>
    <script>
        import "../styles/global.css";
    </script>
</head>
<body class="bg-gray-900 text-gray-300 font-sans">
    <Header />
    <main>
        <GameClient client:load />
    </main>
    <Footer />
</body>
</html>